.list-item {
  min-height: 32px;
  align-items: center;
  display: flex;
  justify-content: left;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  border-bottom-style: outset;
  border-spacing: 20px;
}

.list-item:last-of-type {
  border-bottom: none;
}

.list-item:hover {
  background-color: #aaaaaa;
}
