header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: hsla(170, 40%, 80%, 0.20);
  border-radius: 10px;
  min-height: 92px;
  align-items: center;
  margin-bottom: 16px;
  margin: 10px;
}

header > * {
  flex: 1 0 auto;
  text-align: center;
}